* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container-header {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 4px solid #c4c4c4;
  background-color: #252525;
  height: 15vh;
}
.container-header h1 {
  font-size: 40px;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 8px;
}